html, body{
  padding: 0;
  margin: 0;
}
.main-container{
  overflow: hidden;
  width: 100%;
}
.main-nav{
  height: 70px;
  background-color: #57A4F3;
}
.app-name{
  margin-left: 3%;
  float: left;
}
.search-form{
  clear: left;
}
.weather-boxes{
  float: left;
  padding: 30px;
  margin: 2%;
  border: solid 2px salmon;
}
.city-name{
  font-size: 20px;
}
.comments-scroll{
  overflow: auto;
  height: 7em;
  display: block;
}
.comment-box{
  border: solid 1px #62A4E7;
}
.comment-text{
  font-size: 2em;
}
.comment-username{
  font-size: 1em;
}
.submit-comment{
  margin: 2px;
}